<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mvp.css">
    <title>Error</title>
</head>
<body>
    <header> 
        <h1>OOPS!</h1>
        <h3>Please login to play!</h3>


        <!-- <a href="/play"><button >Start</button> </a> -->
        <a href="/login"><button >Login</button> </a>
        <a href="/rules"><button >Rules</button> </a>
    </header>
    
</body>
</html>