<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mvp.css">
    <title>Start Playing</title>
</head>
<body>
    <header>
        <main>
            <h1> WELCOME <%= user %> TO MYSTERIOUS WALLS</h1>
        </main>
    </header>
    <section>
        <form>
    <aside>
        <img src="https://ik.imagekit.io/mystwalls/R1_1_HLVjFrF1so.jpg">
        <p>Tagline</p>
        <p> <input type="text" id="r1_1" name="r1_1" size="20" placeholder="Enter Value"></p>
    </aside>
    <aside>
        <img src="https://ik.imagekit.io/mystwalls/R1_2_LAQSHiJ7T6.jpg">
        <p>Tagline</p>
        <p> <input type="text" id="r1_1" name="r1_1" size="20" placeholder="Enter Value"></p>
    </aside>
    <aside>
        <img src="https://ik.imagekit.io/mystwalls/R1_3_qhWnZom6L9.jpg">
        <p>Tagline</p>
        <p> <input type="text" id="r1_1" name="r1_1" size="20" placeholder="Enter Value"></p>
    </aside>
    <aside>
        <img src="https://ik.imagekit.io/mystwalls/R1_4_DAZgQN6s7w.jpg">
        <p>Tagline</p>
        <p> <input type="text" id="r1_1" name="r1_1" size="20" placeholder="Enter Value"></p>
    </aside>
    <aside>
        <img src="https://ik.imagekit.io/mystwalls/R1_5_r_W2qa3fr.jpg">
        <p>Tagline</p>
        <p> <input type="text" id="r1_1" name="r1_1" size="20" placeholder="Enter Value"></p>
    </aside>
    <aside>
        <img src="https://ik.imagekit.io/mystwalls/R1_6_lkfRMY3Po.png">
        <p>Tagline</p>
        <p> <input type="text" id="r1_1" name="r1_1" size="20" placeholder="Enter Value"></p>
    </aside>
    <aside>
        <img src="https://ik.imagekit.io/mystwalls/R1_7_mbptT8-oD-.jpg">
        <p>Tagline</p>
        <p> <input type="text" id="r1_1" name="r1_1" size="20" placeholder="Enter Value"></p>
    </aside>
    <aside>
        <img src="https://ik.imagekit.io/mystwalls/R1_8_JmjeBRID8D.png">
        <p>Tagline</p>
        <p> <input type="text" id="r1_1" name="r1_1" size="20" placeholder="Enter Value"></p>
    </aside>
    <button type="submit">Save</button>
    <button type="submit">Next Round</button>

</form>
</section>
    
</body>
</html>