<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mvp.css">
    <title>Start Playing</title>
</head>
<body>
    <header>
        <main>
            <h1> WELCOME <%= user %> TO MYSTERIOUS WALLS</h1>
        </main>
    </header>
        <main>
        <section>
        <header>
                <h2>ROUND 1</h2>
                <p>LET'S START</p>
            </header>
        <form>
            <aside>
                <h3>Tag line : </h3>
                <input type="text" id="it1r1" name="it1r3" size="20" placeholder="Price">
            </aside>

            <aside>
                <h3>Tag line : </h3>
                <input type="text" id="it1r2" name="it1r3" size="20" placeholder="Price">
            </aside>

            <aside>
                <h3>Tag line :</h3>
                <input type="text" id="it1r3" name="it1r3" size="20" placeholder="Price">
            </aside>
        </form>
            
        </section>
    </main>
    
</body>
</html>