<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mvp.css">
    <title>Rules | Mysterious Walls</title>
</head>
<body>
    <header> 
        <h1>RULES FOR MYSTERIOUS WALLS</h1>
        <h3>A fun event hosted with &#10084; by UCD</h3>

        
        <button>Start</button>
        <button>Login</button>
    </header>
    
</body>
</html>